$primary-color: #3A9BDC;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');


body {
     background: #fff !important;
     margin: 0%;
     padding: 0%;
     overflow-x: hidden;
     box-sizing: border-box;
     font-family: 'Source Sans Pro', sans-serif !important;

     .text-primary {
          color: $primary-color !important;
     }

     .btn {
          box-shadow: none !important;
     }

     // modal styling'
     .modal_container {
          height: 300px;
          background: $primary-color;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     .modal-body {
          width: 100% !important;
               justify-content: center;
               align-items: center;
               display: flex;
               height: 100%;

          .form_container {
               width: 50%;

               div {
                    width: 100%;

                    .form-control {
                         padding: 12px;
                         border-radius: 2px;
                         box-shadow: none !important;

                         &:focus {
                              border-color: $primary-color !important;
                         }
                    }
               }
          }
     }
     
     main {
          margin-left: 0%;
          width: 100%;

          header {
               padding: 10px 20px;
               width: 100%;
               top: 0%;
               left: 0%;
          }

          .added_tasks {
               .col-md-4 {
                    .task_card {
                         height: 100% !important;

                         &.done {
                              border-top: 3px solid green !important;
                         }
                    }
               }
          }
     }
}